@font-face {
  font-family: 'webfont'; /* Replace with your font's name */
  src: url('../fonts/webfont.otf') format('opentype'); /* Update with the correct path */
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Full height */
  overflow: hidden; /* Hide scrollbars */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  background: #f5f5f5;
  font-family: 'webfont', Arial, sans-serif;
}

#bg-video {
  position: fixed; /* Fixed position */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center video */
  min-width: 100vw; /* Minimum of 100% of viewport width */
  min-height: 100vh; /* Minimum of 100% of viewport height */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  z-index: -1; /* Behind all content */
  object-fit: cover; /* Cover the entire viewport */
}

.order-container {
  position: relative; /* Above the video background */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between the child elements */
  background: rgba(75, 173, 222, 0.9); /* Slightly transparent white */
  padding: 20px;
  border-radius: 20px; /* Rounded corners */
  width: 80%; /* Increased width */
  max-width: 1000px; /* Maximum width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  z-index: 2; /* Above the video background */
}

.product-image {
  background: url('../img/fortnite_order.svg') no-repeat center center;
  background-size: cover;
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  border-radius: 10px; /* Rounded corners for image */
}

.product-details {
  display: flex;
  align-items: center;
}

.order-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start of the flex direction */
  margin-left: 20px; /* Space between product details and order details */
}

.order-details > * {
  margin-bottom: 10px; /* Space between elements */
}

.order-details h2 {
  margin-bottom: 10px;
}

.order-details label,
.order-details select,
.order-details .total-price {
  margin-bottom: 5px;
}

#checkout-button,
#return-home-button {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'webfont', Arial, sans-serif;
}

#checkout-button {
  background-color: #4CAF50; /* Green */
  color: white;
}

#return-home-button {
  background-color: #f44336; /* Red */
  color: white;
}

