@font-face {
  font-family: 'webfont'; /* Replace with your font's name */
  src: url('../fonts/webfont.otf') format('opentype'); /* Update with the correct path */
  font-weight: normal;
  font-style: normal;
}

body, html {
  height: auto; /* Adjust to auto to allow for scrolling */
  min-height: 100%; /* Ensure it is at least the full viewport height */
  margin: 0;
  padding: 0;
  font-family: 'webfont', Arial, sans-serif;
}

#bg-video {
  position: fixed; /* Fixed position */
  top: 0;
  left: 0;
  min-width: 300%; /* Increase to 300% of the viewport */
  min-height: 300%; /* Increase to 300% of the viewport */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  z-index: -1; /* Behind all content */
}

.content {
  position: relative; /* Position content over the video */
  z-index: 2; /* Above the video background */
}

.header {
  background-color: #cccccc;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  margin: 30px auto;
  width: 80%; /* Adjusted width */
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Wrap the items for smaller screens */
  margin: 0 auto;
  max-width: 1200px; /* Max width for the product container */
}

.product-card {
  background-color: #1db75fe9;
  padding: 20px;
  margin: 20px;
  flex-basis: calc(33.333% - 40px); /* Adjust the width of the cards */
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: space-around; /* Distribute space around items */
  align-items: center; /* Center align the items */
}

.product-card h3 {
  color: #333;
  margin-bottom: 20px; /* Space below the title */
}

.product-card img {
  max-width: 100%; /* Image width to fill the middle of the card */
  max-height: 50vh; /* Image height to be 50% of the viewport height */
  margin: 20px 0; /* Space above and below the image */
}

.buy-button {
  background-color: #6b95e3;
  color: #fff;
  padding: 15px 30px; /* Larger button */
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Button width to fill the card */
  box-sizing: border-box; /* Include padding in width calculation */
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .product-card {
    flex-basis: calc(50% - 40px); /* Two items per row on smaller screens */
  }
}

@media (max-width: 768px) {
  .header {
    width: 95%; /* Full width on small screens */
    margin-bottom: 20px; /* More space between header and cards */
  }

  .products {
    flex-direction: column; /* Stack items on smallest screens */
  }

  .product-card {
    flex-basis: 80%; /* Each card takes more space on smaller screens */
  }

  .product-card img {
    max-height: 40vh; /* Smaller height for the images on smaller screens */
  }
}
